@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #ffffff; /* по умолчанию белый фон */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #ffffff; /* темный фон в тёмной теме */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Oswald', sans-serif; /* Применяем шрифт Oswald */
}
